<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Required Meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!--Boostrap CSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        <title>Access Denied</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    </head>

<body>
    <!--Nav Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top nav-left">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Web Vulnerabilites Lab</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse flex-d flex-row-reverse nav_right" id="navbarNavDropdown">
            <ul class="navbar-nav">
            </ul>
          </div>
        </div>
      </nav>
    <!--Denial Message-->
    <section class="container" style="text-align: center;">
        <div class="block2">
            <img class="rounded mx-auto -d-block img" src="/access_denied.png" alt="Photo">
            <div class="ptext" style="padding-bottom: 14.5%;">
                <span class="text-justify">Access Denied<br>incorrect username or password</span>
            </div>
        </div>
    </section>
</body>
<footer class="mt-auto text-white-50">
    <p><a class="text-white">Cybersecurity Lab</a> for common web vulnerabilites, by <a class="text-white">Kevin Valladares</a>.</p>
</footer>
</html>